@model Ballerz.Models.Player.PlayerDetailModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .blue {
        background-color: #011333;
        padding-top: 1%;
       
    }
    .trans {
        background-color: black !important;
    }
</style>

<h1><strong>Ballerz | Ballerz</strong></h1>
<div class="row" style="padding-left: 5%;">
    
    <div class="col-md-5 blue col-md-offset-1" style="height: 30em;" >
        
        <h1><strong>@Model.PlayerName</strong>&nbsp;&nbsp;&nbsp;&nbsp;<img src="@Model.FlagUrl" style="width: 75px;" /></h1>
        <h3>Born: <strong>@Model.BirthPlace</strong></h3>
        <h3>DoB: <strong>@Model.DoB.ToShortDateString()</strong></h3>
        
        <h3>Current Club: <strong>@Model.TeamName</strong>&nbsp;&nbsp;<img src="@Model.TeamBadgeUrl" style="width: 75px;" /></h3>
        <h3>Position: <strong>@Model.Position</strong></h3>
        <a asp-controller="PlayerHistory" asp-action="Index" asp-route-id="@Model.Id">View @Model.PlayerName's Stats</a>
    </div>
    <div class="col-md-3 text-center blue" style="height: 30em;"">
    <img src="@Model.PlayerImageUrl" style="width: 100%;" />
    
    </div>
    <div class="col-md-1 trans"></div>
</div>

</div>
