@model Ballerz.Models.PlayerHistory.PlayerHistoryIndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    th, td {
        text-align: center;
    }
</style>

 @if (User.IsInRole("Site Admin"))
             {
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
              }
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center" style="background-color: #011333; margin-bottom: 3%;">
                        <h1>@ViewBag.PlayerName<span style="color: orange;"> : Statistics</span></h1>
                  </div>
              </div>
           
              
<table class="table">
    <thead>
        <tr style="background-color: #011333;">
          
            <th>
              <p>Playing For</p>  
            </th>
            <th>
               <p>Season</p> 
            </th>
            <th>
            <p>League Name</p>
            </th>
             <th>
            <p>Games Played</p>
            </th>
            <th>
                 <span style="width: 50px; font-size: 25px; background-color: red; color: red;">R</span>
            </th>
            <th>
                <span style="width: 50px; font-size: 25px; background-color: yellow; color: yellow;">Y</span>
            </th>
            <th>
               <img src="/images/backgrounds/football.png" class="" style="width: 30px;" />
            </th>
            <th>
               <p>Position</p> 
            </th>
            <th>
               <p>Points</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayerHistoryList) {
        <tr style="background-color: white;">
         
            
            <td>
               <strong>@item.TeamName</strong> 
            </td>
            <td>
               <strong> @item.Season</strong>
            </td>
            <td>
               <strong> @item.LeagueName </strong>
            </td>
             <td>
               <strong>  </strong>
            </td>
            <td>
               <strong>@item.RedCards</strong> 
            </td>
            <td>
               <strong> @item.YellowCards</strong>
            </td>
            <td>
               <strong>@item.Goals</strong> 
            </td>
            <td>
               <strong> @item.Position</strong>
            </td>
            <td>
               <strong>@item.Points</strong> 
            </td>
            <td>
         
            </td>
        </tr>
}
    </tbody>
</table>
