@model Ballerz.Models.ClubHistory.ClubHistoryIndexModel


    <div class="row">
<h1>@ViewBag.TeamName</h1>
        <hr/>
        <div class="col-md-2">
            <h5><strong>Season</strong></h5>

 </div>
 <div class="col-md-3">
     <h5><strong>League</strong></h5>

 </div>
 <div class="col-md-2">
     <h5><strong>League Position</strong></h5>
 
 </div>
 <div class="col-md-2">
     <h5><strong>Points</strong> </h5>
     
 
 </div>
    </div>
    
@foreach(var item in Model.HistoryList)
{
    <div class="row" style="margin-bottom: 7px;">
        <div class="col-md-2">
            <p style="color: white;">@item.Season</p>
 
 </div>
 <div class="col-md-3">
    <p style="color: white;">@item.LeagueName</p>
 
 </div>
 <div class="col-md-2">
     <p style="color: white;">@item.Position</p>
 
 </div>
 <div class="col-md-2">
     <p style="color: white;">@item.Points</p>
 
 </div>
    </div>
}